* {
    box-sizing: border-box;
}

.cabecalho {
    background: #DFE6ED;
    padding: 5px;
}

.cabecalho_itens {
    display: inline-block;
}

.cabecalho_itens,
a {
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

a {
    background-color: #4B5C6B;
    color: white;
    margin: 8px;
    padding: 10px;
}

.titulo {
    display: inline-block;
}

body {
    margin: 0;
    background-color: #C3CFD9;
}

main {
    padding: 20px;
}

.container-formulario>* {
    margin-top: 8px;
    align-items: center;
    margin: auto;
    width: 80%;
}

.inputCadastro {
    display: block;
    width: 80%;
    padding: 3px;
    border-radius: 3px;
    margin-left: 10%;
    margin-top: 4px;
}

.container-formulario,
button {
    margin: auto;
    display: block;
    width: 80%;
    background-color: #4B5C6B;
    color: white;
    border-radius: 3px;
    padding: 8px;
    margin-top: 4px;
    border: none;
}

.status_error,
.status_sucesso {
    padding: 6px;
    text-align: center;
    width: 100%;
    display: none;
    margin: 4px;
    border-radius: 3px;
    width: 80%;
    margin-left: 10%;
}

.status_sucesso {
    background-color: #207868;
}

.status_error {
    background-color: #AC6363;
}

h1 {
    margin-left: 25%;
}